:root{
    --bg:#2f2f2f;
    --accent:#e0b661ba;
    --muted:#f5f4f2;
    --panel:#ffffff;
    --gap:20px;
    --max-width:1200px;
    font-family: Arial, sans-serif;
  }

  *{
    box-sizing:border-box;
}

  body{
    margin:0; 
    background: linear-gradient(0deg,rgba(47, 47, 47, 1) 0%, rgba(47, 47, 47, 1) 67%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
    /* background-image: url(foto/bild.jpeg); */
    color:var(--muted); 
    display:grid; 
    justify-content:center; 
    padding:32px 16px;
 }

  .wrap{
    width:100%;
    max-width:var(--max-width); 
    }


.grid{
    display:grid;
    grid-template-columns: repeat(3, 320px); 
    grid-auto-rows: 320px; 
    grid-template-areas:
      "aside top right"
      "aside hero img1"
      "img2 text text";
    gap:var(--gap);
}
  


  .aside{
    grid-area:aside;
    background:var(--accent);
    color:#fff;
    padding:38px;
    display:grid;
    flex-direction:column;
    gap:5px;
    font-size: 17px;
    line-height:1.9;
  }

  .top{ 
    grid-area:top; 
    background:#cfe7e9;
    overflow:hidden;
     }

  .top img{ 
    width:100%; 
    height:100%; 
    object-fit:cover;
    display:block; 
}

  .right{ 
    grid-area:right; 
    background:#cfe7e9;
    overflow:hidden;
}

  .right img{
     width:100%; 
     height:100%; 
     object-fit:cover; 
     display:block; 
    }

  .hero{
    grid-area:hero;
    display:grid;
    align-items:center;
    justify-content:center;
    padding:16px;
  }

  .hero h1{
    margin:0;
    color:var(--accent);
    font-size:48px;
    line-height:1;
    
    font-weight:700;
    letter-spacing:1px;
    
    grid-template-columns: 1fr;
  }

  .img1{
     grid-area:img1; 
     background:#cfe7e9; 
     overflow:hidden; 
    }

  .img1 img{ 
    width:100%; 
    height:100%;
    object-fit:cover;
    display:block;
     }

  .img2{ 
    grid-area:img2; 
    background:#cfe7e9; 
    overflow:hidden;
 }

  .img2 img{
    width:100%; 
    height:100%; 
    object-fit:cover; 
    display:block; }

  .text{
    grid-area:text;
    background:var(--panel);
    color:#333;
    padding:24px;
    display:grid;
    grid-template-columns: 1fr;
    justify-content:center;
    
  }

  .textt{
    font-size: 17px;
    line-height: 1.8;
    color: rgba(132, 128, 128, 0.985);
  }
  .btn{
    margin-top:16px;
    padding:10px 14px;
    border:1px solid rgb(126, 122, 122);
    background:transparent;
    height: 40px;
    width: 200px;
    cursor:pointer;
    font-weight:600;
    color: rgba(132, 128, 128, 0.985);
  }

  .hh3 .textt{
    margin: 0 0 8px 0;
  }

  .paragraph{
    margin: 0;
  }