 * { 
      box-sizing: border-box; 
      margin: 0; 
      padding: 0; 
    }

    body{
      font-family: "Inter", sans-serif;
      padding: 40px;
      display: flex;
      justify-content: center;
      background-color: #f5f5f5;
    }

  
    .h1{ top: 35%; position: absolute; right: 57%; transform: rotate(-6deg); --rot: -6deg; }
    .h2{ top: 35%; position: absolute; right: 10%; transform: rotate(12deg); --rot: 12deg; }
    .h3{ top: 55%; position: absolute; right: 20%; transform: rotate(8deg);  --rot: 8deg;  }
    .h4{ top: 78%; position: absolute; right: 55%; transform: rotate(17deg); --rot: 17deg; }
    .h5{ top: 80%; position: absolute; right: 10%; transform: rotate(-9deg); --rot: -9deg; }

    .pill{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e9ecef;
      box-shadow: 0 8px 18px rgba(0,0,0,0.06);
      font-weight: 700;
      color: #111;
      will-change: transform;
      position: absolute; 
    }

    .pill1{
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      width: 190px;
      height: 45px;
      font-size: 21px;
    }

    .pill2{
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      width: 210px;
      height: 55px;
      font-size: 25px;
    }

    .pill3{
      border-radius: 39px;
      display: flex;
      flex-direction: column;
      width: 285px;
      height: 70px;
      font-size: 32px;
    }

    .pill4{
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      width: 170px;
      height: 44px;
      font-size: 22px;
    }

    .pill5{
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      width: 170px;
      height: 40px;
      font-size: 18px;
    }

    .stronger{ 
      font-size: 25px; 
      font-weight: bold;
      padding-bottom: 20px; 
      margin-left: 35px;
      padding-top: 50px; 
      }

    .inc{ 
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 160px; 
      margin-left: 35px;
      margin-top: 30px;
       }

    .weeks{ 
      font-size:64px;
      font-weight:800;
      color: white;
       }

    .black{ 
      text-align:center;
      margin-right: 10px; 
      align-items: center; 
      padding-top: 90px; 
      }

    .v{
      margin-bottom: 25px;
      font-size: 30px;
      color: white;
      margin-left: 35px; 
        }

    .b{
      margin-left: 35px; 
      color: #7f858f; 
      font-size: 17px; 
      }

    .all{
      display: grid;
      gap: 10px;
      max-width: 1500px; 
      width: 100%;
      grid-template-columns: 1.1fr 0.6fr;
      align-items: start;

       }


       
       
@media (max-width: 900px){
  .all{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px){
  .bottom{
    flex-direction: column;
    gap: 10px;
  }

  .card{
    width: 100%;
  }
}


    .hero{
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 10px 28px rgba(0,0,0,0.06);
        display: flex;
        padding: 40px;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 10px;
        height: 550px;
         box-shadow: inset 0 -20px 20px -10px rgb(255, 255, 255); 

         overflow: hidden;
         position: relative;
    }


.text {
      flex: 1;
      margin-top: 380px;
    }

     .text h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .text p {
      font-size: 15px;
      color: #7f858f;
      max-width: 360px;
    }

    .phone-area {
      position: relative;
      
    }

    .phone img {
      width: 400px;
      transform: translate();
      background-color: #ffffff;

  
    }

   

    .bubble {
      position: absolute;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.3;
      max-width: 390px;
      
      padding: 10px 16px;
      border-radius: 40px;
    }
    .b-left { background: #111; color: #fff; left: -9%; padding: 13px;}
    .b-right { background: #e9ecef;; color: #111; border: 1px solid #eee; right: -7%; }
    .b1 { top: 29%; transform: rotate(-5deg);  }
    .b2 { top: 46%; transform: rotate(3deg);}
    .b3 { top: 63%; transform: rotate(2deg);}
    .b4 { top: 80%; transform: rotate(-4deg);}

    .bottom{
      display: flex;
    }

    .card{
     margin-bottom: 10px;
     background-color: #ffffff;
     border-radius: 15px;
     height: 290px;
     width: 50%;
    }

    .card1{
     border-radius: 15px;
     background-color: #ffffff;
     height: 420px;
     margin-bottom: 10px;
     position: relative; 
    }

    .kpi, .dark h3{
      color: white;
    }


    .dark{
      background-image: url(foto/clouds-bg.avif);
      background-size: cover;
      background-position: center;
      border-radius: 18px;
    }
    .kpi{
      font-size: 80px;
      font-weight: bold;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      padding-top: 90px;
    }


    :root{
      --pill-move: 10px;
      --pill-speed: 3.2s;
      --pill-ease: cubic-bezier(.4,0,.2,1);
    }

    @keyframes pillFloat {
      0%   { transform: translateY(0) rotate(var(--rot)); }
      50%  { transform: translateY(calc(-1 * var(--pill-move))) rotate(var(--rot)); }
      100% { transform: translateY(calc(var(--pill-move) * 0.4)) rotate(var(--rot)); }
    }

    .pill{
      animation-name: pillFloat;
      animation-duration: var(--pill-speed);
      animation-timing-function: var(--pill-ease);
      animation-iteration-count: infinite;
      animation-direction: alternate;
      transform-origin: center;
    }

    
    .pill1{ animation-delay: 0s; }
    .pill2{ animation-delay: 0.12s; }
    .pill3{ animation-delay: 0.28s; }
    .pill4{ animation-delay: 0.45s; }
    .pill5{ animation-delay: 0.6s; }

    @media (max-width: 900px){
      :root{ --pill-move: 6px; --pill-speed: 2.6s; }
      .h1{ top: 120%; right: 18%; font-size: 16px; }
      .h2{ top: 118%; right: 6%; font-size: 16px; }
      .h3{ top: 132%; right: 10%; font-size: 16px; }
      .h4{ top: 146%; right: 18%; font-size: 14px; }
      .h5{ top: 152%; right: 6%; font-size: 14px; }
    }
 .flame{
  width: 30px;
 }