body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

header>div:first-child{ 
    width: fit-content;
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: grey;
    text-transform: lowercase;
}

header>div:last-child{
    width: 225px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    font-size: 12px;
}

.text-red{
    color: red
}

.container{
    box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    max-height: 700px;
    height: 700px;

    background-image: url('./containaer_1.jpg');
    background-size: cover;

    display: flex;
    align-items: center;
}

#cont-about-us{
    margin-left: 3.5%;
    box-sizing: border-box;
    padding: 5%;
    width:40%;
    aspect-ratio: 1/0.5;
    background-color: rgb(246, 241, 241);
}

.text-about-us{
    font-size: 50px;
    font-weight: bolder;
}

.text-about-us+div{
    font-size: 14px;
    margin: 5px 0;
}

.text-about-us+div>span{
    border-bottom: 1px solid black;
    cursor: pointer;
}
.text-about-us+div>span:hover{
   border-color: red; 
}

.button{
    background-color: #edc0c6;
    color: #b0656d;
    padding: 5px 45px;
    width: fit-content;
    border-radius: 25px;
    margin-top: 20px;
    padding: 15px 42px;
    font-size: 20px;
}

.button:hover{
    background: #ea8a95df;
  }







.pic{
    width: 100%;
    max-width: 480px;
    height: auto;   
}

.left{
    flex: 0 0 42%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all{
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 40px;
    padding: 36px;
}

.right{
    flex: 1;
    padding-right: 8px;
    margin-top: 140px;
}

.title{
    font-size: 44px;
    margin: 0 0 18px 0;
    font-size: 70px;
}

.text{
    margin: 0 0 26px 0;
    max-width: 880px;
    line-height: 1.7;
    font-size: 20px;
}

.btn{
    padding: 20px 42px;
    background: #edc0c6;
    border-radius: 35px;
    font-weight: 600;
    border-color: #edc0c6;
    border: #edc0c6;
    width: 230px;
    color: #b0656d;
    font-size: 20px;
}

.btn:hover{
    background: #ea8a95df;
    color: #b0656d;
}

.world{
    text-decoration: underline;
    text-decoration-color: black;
}

.world:hover{
    text-decoration-color: red;
}





body{
    font-family: Arial, sans-serif;
  }

  .vse{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
  }

  .textt{
    flex: 1 1 400px;
    padding: 20px;
  }

  .textt h1{
    font-size: 36px;
    margin-bottom: 20px;
  }

  .textt p{
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .knopka{
    display: inline-block;
    padding: 15px 28px;
    background: #edc0c6;
    color: #b0656d;
    border-radius: 30px;
    font-size: 20px;
    
    border-color: #edc0c6;
    border: #edc0c6;
    width: 200px;
  }

  .knopka:hover{
    background: #ea8a95df;
  }

  .image{
    flex: 1 1 400px;
    padding: 20px;
    text-align: center;
  }

  .image img{
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 768px){
    .textt h1 {
      font-size: 28px;
    }
    .vse{
      padding: 20px;
    }
  }

  @media (max-width: 500px){
    .textt h1 {
      font-size: 24px;
    }
    .knopka{
      padding: 10px 20px;
      font-size: 14px;
    }
  }

  .line{
    width: 90px;          
    height: 10px;          
    background: #edc0c6;  
    margin-bottom: 15px;  
  }
